# Editor files
.vscode/
.idea/

# Virtual environments
venv/
.venv/

# Environment files
.env

# Deployment files
Procfile

# Local databases
instance/
*.db

# Cache files
__pycache__/

# Local notes
.local/
