{% extends "base.html" %}
{% block content %}
<h1 class="text-center"><span style="color:orange;">Be</span><span style="color:blue;">Herd</span></h1>
<h3 class="text-center">Campus Safety Application</h3>
<div class="d-flex justify-content-center my-2">
    <a href="tel:+15707019176"><button type="button" class="btn btn-primary my-1">Phone Number</button></a>
</div>
<div class="d-flex justify-content-center my-2">
    <form method="post" action="">
        <input type="submit" class="sos btn btn-light" name="sos" value="sos"></input>
    </form>
</div>
<div class="d-flex justify-content-center my-2">
    <a href="/preset"><button type="button" class="btn btn-primary">Change Preset</button></a>
</div>
{% endblock %}