{% extends "base.html" %}
{% block title %}Change the Preset{% endblock %}

{% block content %}
<h1 class="text-left"><span style="color:orange;">Be</span><span style="color:blue;">Herd</span></h1>
<h3 class="text-left">Change Presets</h3>
<a href="/"><button class="btn btn-primary mt-3">Go Back</button></a>
<form class="my-4" action="" method="post" novalidate>
    <p>
        {{ form.name_f.label }}<br>
        {{ form.name_f(size=32) }}
    </p>
    <p>
        {{ form.code_f.label }}<br>
        {{ form.code_f(size=32) }}
    </p>
    <p>
        {{ form.msg_f.label }}<br>
        {{ form.msg_f(size=32) }}
    </p>
    <p>
        {{ form.ph_1_f.label }}<br>
        {{ form.ph_1_f(size=32) }}
    </p>
    <p>
        {{ form.ph_2_f.label }}<br>
        {{ form.ph_2_f(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}